
<form nz-form #validateForm="ngForm" (ngSubmit)="submitForm()" nzLayout="horizontal" autocomplete="off">
    <!-- 模态框头部 -->
    <div class="modal-header">
        <div class="modal-title">
            <i class="iconfont icon-medicine-box mr-sm"></i>
            <span *ngIf="entity.id">{{l('Edit')}}</span>
            <span *ngIf="!entity.id">{{l('Create')}}</span>
        </div>
    </div>
    <!-- 模态框内容 -->
    <fieldset>
        <!-- 提示信息 -->
        <!-- <nz-alert nzType="info" nzCloseable [nzShowIcon]="true" nzMessage="l('我想提示点什么内容给你说')"></nz-alert> -->
                   <!-- ExtensionGUID : ExtensionGUID 的控件范围=Start= -->
                <nz-form-item nz-row>
                        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="extensionGUID">  
                            {{l('ExtensionGUID')}}
                            </nz-form-label>
                    <nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
                        <!--  控件位置 -->
                                <input nz-input name="extensionGUID" #extensionGUID="ngModel"
                                       [(ngModel)]="entity.extensionGUID"
                                      [placeholder]="l('WMS_ASNExtensionGUIDInputDesc')" >


                    </nz-form-control>
             
                </nz-form-item>
                <!--ExtensionGUID : ExtensionGUID 的控件范围结束=END= -->
                   <!-- ASNNumber : ASNNumber 的控件范围=Start= -->
                <nz-form-item nz-row>
                        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="aSNNumber">  
                            {{l('WMS_ASNASNNumber')}}
                            </nz-form-label>
                    <nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
                        <!--  控件位置 -->
                                <input nz-input name="aSNNumber" #aSNNumber="ngModel"
                                       [(ngModel)]="entity.aSNNumber"
                                      [placeholder]="l('WMS_ASNASNNumberInputDesc')" >


                    </nz-form-control>
             
                </nz-form-item>
                <!--ASNNumber : ASNNumber 的控件范围结束=END= -->
                   <!-- ExternReceiptNumber : ExternReceiptNumber 的控件范围=Start= -->
                <nz-form-item nz-row>
                        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="externReceiptNumber">  
                            {{l('WMS_ASNExternReceiptNumber')}}
                            </nz-form-label>
                    <nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
                        <!--  控件位置 -->
                                <input nz-input name="externReceiptNumber" #externReceiptNumber="ngModel"
                                       [(ngModel)]="entity.externReceiptNumber"
                                      [placeholder]="l('WMS_ASNExternReceiptNumberInputDesc')" >


                    </nz-form-control>
             
                </nz-form-item>
                <!--ExternReceiptNumber : ExternReceiptNumber 的控件范围结束=END= -->
                   <!-- CustomerID : CustomerID 的控件范围=Start= -->
                <nz-form-item nz-row>
                        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="customerID">  
                            {{l('CustomerID')}}
                            </nz-form-label>
                    <nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
                        <!--  控件位置 -->
                                <nz-input-number
                                    name="customerID" #customerID="ngModel"
                                    [(ngModel)]="entity.customerID"
                                    [nzMin]="0"
                                    [nzMax]="1000000"
                                    [nzStep]="1"
                                ></nz-input-number>


                    </nz-form-control>
             
                </nz-form-item>
                <!--CustomerID : CustomerID 的控件范围结束=END= -->
                   <!-- CustomerName : CustomerName 的控件范围=Start= -->
                <nz-form-item nz-row>
                        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="customerName">  
                            {{l('WMS_ASNCustomerName')}}
                            </nz-form-label>
                    <nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
                        <!--  控件位置 -->
                                <input nz-input name="customerName" #customerName="ngModel"
                                       [(ngModel)]="entity.customerName"
                                      [placeholder]="l('WMS_ASNCustomerNameInputDesc')" >


                    </nz-form-control>
             
                </nz-form-item>
                <!--CustomerName : CustomerName 的控件范围结束=END= -->
                   <!-- WarehouseID : WarehouseID 的控件范围=Start= -->
                <nz-form-item nz-row>
                        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="warehouseID">  
                            {{l('WarehouseID')}}
                            </nz-form-label>
                    <nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
                        <!--  控件位置 -->
                                <nz-input-number
                                    name="warehouseID" #warehouseID="ngModel"
                                    [(ngModel)]="entity.warehouseID"
                                    [nzMin]="0"
                                    [nzMax]="1000000"
                                    [nzStep]="1"
                                ></nz-input-number>


                    </nz-form-control>
             
                </nz-form-item>
                <!--WarehouseID : WarehouseID 的控件范围结束=END= -->
                   <!-- WarehouseName : WarehouseName 的控件范围=Start= -->
                <nz-form-item nz-row>
                        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="warehouseName">  
                            {{l('WMS_ASNWarehouseName')}}
                            </nz-form-label>
                    <nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
                        <!--  控件位置 -->
                                <input nz-input name="warehouseName" #warehouseName="ngModel"
                                       [(ngModel)]="entity.warehouseName"
                                      [placeholder]="l('WMS_ASNWarehouseNameInputDesc')" >


                    </nz-form-control>
             
                </nz-form-item>
                <!--WarehouseName : WarehouseName 的控件范围结束=END= -->
                   <!-- ExpectDate : ExpectDate 的控件范围=Start= -->
                <nz-form-item nz-row>
                        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="expectDate">  
                            {{l('ExpectDate')}}
                            </nz-form-label>
                    <nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
                        <!--  控件位置 -->
                                <input nz-input name="expectDate" #expectDate="ngModel"
                                       [(ngModel)]="entity.expectDate"
                                      [placeholder]="l('WMS_ASNExpectDateInputDesc')" >


                    </nz-form-control>
             
                </nz-form-item>
                <!--ExpectDate : ExpectDate 的控件范围结束=END= -->
                   <!-- ASNStatus : ASNStatus 的控件范围=Start= -->
                <nz-form-item nz-row>
                        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="aSNStatus">  
                            {{l('ASNStatus')}}
                            </nz-form-label>
                    <nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
                        <!--  控件位置 -->
                                <nz-input-number
                                    name="aSNStatus" #aSNStatus="ngModel"
                                    [(ngModel)]="entity.aSNStatus"
                                    [nzMin]="0"
                                    [nzMax]="1000000"
                                    [nzStep]="1"
                                ></nz-input-number>


                    </nz-form-control>
             
                </nz-form-item>
                <!--ASNStatus : ASNStatus 的控件范围结束=END= -->
                   <!-- ASNType : ASNType 的控件范围=Start= -->
                <nz-form-item nz-row>
                        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="aSNType">  
                            {{l('WMS_ASNASNType')}}
                            </nz-form-label>
                    <nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
                        <!--  控件位置 -->
                                <input nz-input name="aSNType" #aSNType="ngModel"
                                       [(ngModel)]="entity.aSNType"
                                      [placeholder]="l('WMS_ASNASNTypeInputDesc')" >


                    </nz-form-control>
             
                </nz-form-item>
                <!--ASNType : ASNType 的控件范围结束=END= -->
                   <!-- PO : PO 的控件范围=Start= -->
                <nz-form-item nz-row>
                        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="pO">  
                            {{l('WMS_ASNPO')}}
                            </nz-form-label>
                    <nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
                        <!--  控件位置 -->
                                <input nz-input name="pO" #pO="ngModel"
                                       [(ngModel)]="entity.pO"
                                      [placeholder]="l('WMS_ASNPOInputDesc')" >


                    </nz-form-control>
             
                </nz-form-item>
                <!--PO : PO 的控件范围结束=END= -->
                   <!-- Contact : Contact 的控件范围=Start= -->
                <nz-form-item nz-row>
                        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="contact">  
                            {{l('WMS_ASNContact')}}
                            </nz-form-label>
                    <nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
                        <!--  控件位置 -->
                                <input nz-input name="contact" #contact="ngModel"
                                       [(ngModel)]="entity.contact"
                                      [placeholder]="l('WMS_ASNContactInputDesc')" >


                    </nz-form-control>
             
                </nz-form-item>
                <!--Contact : Contact 的控件范围结束=END= -->
                   <!-- ContactInfo : ContactInfo 的控件范围=Start= -->
                <nz-form-item nz-row>
                        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="contactInfo">  
                            {{l('WMS_ASNContactInfo')}}
                            </nz-form-label>
                    <nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
                        <!--  控件位置 -->
                                <input nz-input name="contactInfo" #contactInfo="ngModel"
                                       [(ngModel)]="entity.contactInfo"
                                      [placeholder]="l('WMS_ASNContactInfoInputDesc')" >


                    </nz-form-control>
             
                </nz-form-item>
                <!--ContactInfo : ContactInfo 的控件范围结束=END= -->
                   <!-- CompleteDate : CompleteDate 的控件范围=Start= -->
                <nz-form-item nz-row>
                        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="completeDate">  
                            {{l('CompleteDate')}}
                            </nz-form-label>
                    <nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
                        <!--  控件位置 -->
                                <input nz-input name="completeDate" #completeDate="ngModel"
                                       [(ngModel)]="entity.completeDate"
                                      [placeholder]="l('WMS_ASNCompleteDateInputDesc')" >


                    </nz-form-control>
             
                </nz-form-item>
                <!--CompleteDate : CompleteDate 的控件范围结束=END= -->
                   <!-- Remark : Remark 的控件范围=Start= -->
                <nz-form-item nz-row>
                        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="remark">  
                            {{l('WMS_ASNRemark')}}
                            </nz-form-label>
                    <nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
                        <!--  控件位置 -->
                                <input nz-input name="remark" #remark="ngModel"
                                       [(ngModel)]="entity.remark"
                                      [placeholder]="l('WMS_ASNRemarkInputDesc')" >


                    </nz-form-control>
             
                </nz-form-item>
                <!--Remark : Remark 的控件范围结束=END= -->
                   <!-- Creator : Creator 的控件范围=Start= -->
                <nz-form-item nz-row>
                        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="creator">  
                            {{l('WMS_ASNCreator')}}
                            </nz-form-label>
                    <nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
                        <!--  控件位置 -->
                                <input nz-input name="creator" #creator="ngModel"
                                       [(ngModel)]="entity.creator"
                                      [placeholder]="l('WMS_ASNCreatorInputDesc')" >


                    </nz-form-control>
             
                </nz-form-item>
                <!--Creator : Creator 的控件范围结束=END= -->
                   <!-- CreationTime : CreationTime 的控件范围=Start= -->
                <nz-form-item nz-row>
                        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="creationTime">  
                            {{l('CreationTime')}}
                            </nz-form-label>
                    <nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
                        <!--  控件位置 -->
                                <app-date-picker nzShowTime
                                                 [nzFormat]="yyyy-MM-dd HH:mm:ss"
                                                 [nzPlaceHolder]="l('PleaseSelectTime')"
                                                 name="creationTime"
                                                 #creationTime="ngModel"
                                                 [(ngModel)]="entity.creationTime"></app-date-picker>


                    </nz-form-control>
             
                </nz-form-item>
                <!--CreationTime : CreationTime 的控件范围结束=END= -->
                   <!-- Updator : Updator 的控件范围=Start= -->
                <nz-form-item nz-row>
                        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="updator">  
                            {{l('WMS_ASNUpdator')}}
                            </nz-form-label>
                    <nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
                        <!--  控件位置 -->
                                <input nz-input name="updator" #updator="ngModel"
                                       [(ngModel)]="entity.updator"
                                      [placeholder]="l('WMS_ASNUpdatorInputDesc')" >


                    </nz-form-control>
             
                </nz-form-item>
                <!--Updator : Updator 的控件范围结束=END= -->
                   <!-- UpdateTime : UpdateTime 的控件范围=Start= -->
                <nz-form-item nz-row>
                        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="updateTime">  
                            {{l('UpdateTime')}}
                            </nz-form-label>
                    <nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
                        <!--  控件位置 -->
                                <input nz-input name="updateTime" #updateTime="ngModel"
                                       [(ngModel)]="entity.updateTime"
                                      [placeholder]="l('WMS_ASNUpdateTimeInputDesc')" >


                    </nz-form-control>
             
                </nz-form-item>
                <!--UpdateTime : UpdateTime 的控件范围结束=END= -->
                   <!-- Str1 : Str1 的控件范围=Start= -->
                <nz-form-item nz-row>
                        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="str1">  
                            {{l('WMS_ASNStr1')}}
                            </nz-form-label>
                    <nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
                        <!--  控件位置 -->
                                <input nz-input name="str1" #str1="ngModel"
                                       [(ngModel)]="entity.str1"
                                      [placeholder]="l('WMS_ASNStr1InputDesc')" >


                    </nz-form-control>
             
                </nz-form-item>
                <!--Str1 : Str1 的控件范围结束=END= -->
                   <!-- Str2 : Str2 的控件范围=Start= -->
                <nz-form-item nz-row>
                        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="str2">  
                            {{l('WMS_ASNStr2')}}
                            </nz-form-label>
                    <nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
                        <!--  控件位置 -->
                                <input nz-input name="str2" #str2="ngModel"
                                       [(ngModel)]="entity.str2"
                                      [placeholder]="l('WMS_ASNStr2InputDesc')" >


                    </nz-form-control>
             
                </nz-form-item>
                <!--Str2 : Str2 的控件范围结束=END= -->
                   <!-- Str3 : Str3 的控件范围=Start= -->
                <nz-form-item nz-row>
                        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="str3">  
                            {{l('WMS_ASNStr3')}}
                            </nz-form-label>
                    <nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
                        <!--  控件位置 -->
                                <input nz-input name="str3" #str3="ngModel"
                                       [(ngModel)]="entity.str3"
                                      [placeholder]="l('WMS_ASNStr3InputDesc')" >


                    </nz-form-control>
             
                </nz-form-item>
                <!--Str3 : Str3 的控件范围结束=END= -->
                   <!-- Str4 : Str4 的控件范围=Start= -->
                <nz-form-item nz-row>
                        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="str4">  
                            {{l('WMS_ASNStr4')}}
                            </nz-form-label>
                    <nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
                        <!--  控件位置 -->
                                <input nz-input name="str4" #str4="ngModel"
                                       [(ngModel)]="entity.str4"
                                      [placeholder]="l('WMS_ASNStr4InputDesc')" >


                    </nz-form-control>
             
                </nz-form-item>
                <!--Str4 : Str4 的控件范围结束=END= -->
                   <!-- Str5 : Str5 的控件范围=Start= -->
                <nz-form-item nz-row>
                        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="str5">  
                            {{l('WMS_ASNStr5')}}
                            </nz-form-label>
                    <nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
                        <!--  控件位置 -->
                                <input nz-input name="str5" #str5="ngModel"
                                       [(ngModel)]="entity.str5"
                                      [placeholder]="l('WMS_ASNStr5InputDesc')" >


                    </nz-form-control>
             
                </nz-form-item>
                <!--Str5 : Str5 的控件范围结束=END= -->
                   <!-- Str6 : Str6 的控件范围=Start= -->
                <nz-form-item nz-row>
                        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="str6">  
                            {{l('WMS_ASNStr6')}}
                            </nz-form-label>
                    <nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
                        <!--  控件位置 -->
                                <input nz-input name="str6" #str6="ngModel"
                                       [(ngModel)]="entity.str6"
                                      [placeholder]="l('WMS_ASNStr6InputDesc')" >


                    </nz-form-control>
             
                </nz-form-item>
                <!--Str6 : Str6 的控件范围结束=END= -->
                   <!-- Str7 : Str7 的控件范围=Start= -->
                <nz-form-item nz-row>
                        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="str7">  
                            {{l('WMS_ASNStr7')}}
                            </nz-form-label>
                    <nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
                        <!--  控件位置 -->
                                <input nz-input name="str7" #str7="ngModel"
                                       [(ngModel)]="entity.str7"
                                      [placeholder]="l('WMS_ASNStr7InputDesc')" >


                    </nz-form-control>
             
                </nz-form-item>
                <!--Str7 : Str7 的控件范围结束=END= -->
                   <!-- Str8 : Str8 的控件范围=Start= -->
                <nz-form-item nz-row>
                        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="str8">  
                            {{l('WMS_ASNStr8')}}
                            </nz-form-label>
                    <nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
                        <!--  控件位置 -->
                                <input nz-input name="str8" #str8="ngModel"
                                       [(ngModel)]="entity.str8"
                                      [placeholder]="l('WMS_ASNStr8InputDesc')" >


                    </nz-form-control>
             
                </nz-form-item>
                <!--Str8 : Str8 的控件范围结束=END= -->
                   <!-- Str9 : Str9 的控件范围=Start= -->
                <nz-form-item nz-row>
                        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="str9">  
                            {{l('WMS_ASNStr9')}}
                            </nz-form-label>
                    <nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
                        <!--  控件位置 -->
                                <input nz-input name="str9" #str9="ngModel"
                                       [(ngModel)]="entity.str9"
                                      [placeholder]="l('WMS_ASNStr9InputDesc')" >


                    </nz-form-control>
             
                </nz-form-item>
                <!--Str9 : Str9 的控件范围结束=END= -->
                   <!-- Str10 : Str10 的控件范围=Start= -->
                <nz-form-item nz-row>
                        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="str10">  
                            {{l('WMS_ASNStr10')}}
                            </nz-form-label>
                    <nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
                        <!--  控件位置 -->
                                <input nz-input name="str10" #str10="ngModel"
                                       [(ngModel)]="entity.str10"
                                      [placeholder]="l('WMS_ASNStr10InputDesc')" >


                    </nz-form-control>
             
                </nz-form-item>
                <!--Str10 : Str10 的控件范围结束=END= -->
                   <!-- Str11 : Str11 的控件范围=Start= -->
                <nz-form-item nz-row>
                        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="str11">  
                            {{l('WMS_ASNStr11')}}
                            </nz-form-label>
                    <nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
                        <!--  控件位置 -->
                                <input nz-input name="str11" #str11="ngModel"
                                       [(ngModel)]="entity.str11"
                                      [placeholder]="l('WMS_ASNStr11InputDesc')" >


                    </nz-form-control>
             
                </nz-form-item>
                <!--Str11 : Str11 的控件范围结束=END= -->
                   <!-- Str12 : Str12 的控件范围=Start= -->
                <nz-form-item nz-row>
                        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="str12">  
                            {{l('WMS_ASNStr12')}}
                            </nz-form-label>
                    <nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
                        <!--  控件位置 -->
                                <input nz-input name="str12" #str12="ngModel"
                                       [(ngModel)]="entity.str12"
                                      [placeholder]="l('WMS_ASNStr12InputDesc')" >


                    </nz-form-control>
             
                </nz-form-item>
                <!--Str12 : Str12 的控件范围结束=END= -->
                   <!-- Str13 : Str13 的控件范围=Start= -->
                <nz-form-item nz-row>
                        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="str13">  
                            {{l('WMS_ASNStr13')}}
                            </nz-form-label>
                    <nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
                        <!--  控件位置 -->
                                <input nz-input name="str13" #str13="ngModel"
                                       [(ngModel)]="entity.str13"
                                      [placeholder]="l('WMS_ASNStr13InputDesc')" >


                    </nz-form-control>
             
                </nz-form-item>
                <!--Str13 : Str13 的控件范围结束=END= -->
                   <!-- Str14 : Str14 的控件范围=Start= -->
                <nz-form-item nz-row>
                        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="str14">  
                            {{l('WMS_ASNStr14')}}
                            </nz-form-label>
                    <nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
                        <!--  控件位置 -->
                                <input nz-input name="str14" #str14="ngModel"
                                       [(ngModel)]="entity.str14"
                                      [placeholder]="l('WMS_ASNStr14InputDesc')" >


                    </nz-form-control>
             
                </nz-form-item>
                <!--Str14 : Str14 的控件范围结束=END= -->
                   <!-- Str15 : Str15 的控件范围=Start= -->
                <nz-form-item nz-row>
                        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="str15">  
                            {{l('WMS_ASNStr15')}}
                            </nz-form-label>
                    <nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
                        <!--  控件位置 -->
                                <input nz-input name="str15" #str15="ngModel"
                                       [(ngModel)]="entity.str15"
                                      [placeholder]="l('WMS_ASNStr15InputDesc')" >


                    </nz-form-control>
             
                </nz-form-item>
                <!--Str15 : Str15 的控件范围结束=END= -->
                   <!-- Str16 : Str16 的控件范围=Start= -->
                <nz-form-item nz-row>
                        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="str16">  
                            {{l('WMS_ASNStr16')}}
                            </nz-form-label>
                    <nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
                        <!--  控件位置 -->
                                <input nz-input name="str16" #str16="ngModel"
                                       [(ngModel)]="entity.str16"
                                      [placeholder]="l('WMS_ASNStr16InputDesc')" >


                    </nz-form-control>
             
                </nz-form-item>
                <!--Str16 : Str16 的控件范围结束=END= -->
                   <!-- Str17 : Str17 的控件范围=Start= -->
                <nz-form-item nz-row>
                        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="str17">  
                            {{l('WMS_ASNStr17')}}
                            </nz-form-label>
                    <nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
                        <!--  控件位置 -->
                                <input nz-input name="str17" #str17="ngModel"
                                       [(ngModel)]="entity.str17"
                                      [placeholder]="l('WMS_ASNStr17InputDesc')" >


                    </nz-form-control>
             
                </nz-form-item>
                <!--Str17 : Str17 的控件范围结束=END= -->
                   <!-- Str18 : Str18 的控件范围=Start= -->
                <nz-form-item nz-row>
                        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="str18">  
                            {{l('WMS_ASNStr18')}}
                            </nz-form-label>
                    <nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
                        <!--  控件位置 -->
                                <input nz-input name="str18" #str18="ngModel"
                                       [(ngModel)]="entity.str18"
                                      [placeholder]="l('WMS_ASNStr18InputDesc')" >


                    </nz-form-control>
             
                </nz-form-item>
                <!--Str18 : Str18 的控件范围结束=END= -->
                   <!-- Str19 : Str19 的控件范围=Start= -->
                <nz-form-item nz-row>
                        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="str19">  
                            {{l('WMS_ASNStr19')}}
                            </nz-form-label>
                    <nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
                        <!--  控件位置 -->
                                <input nz-input name="str19" #str19="ngModel"
                                       [(ngModel)]="entity.str19"
                                      [placeholder]="l('WMS_ASNStr19InputDesc')" >


                    </nz-form-control>
             
                </nz-form-item>
                <!--Str19 : Str19 的控件范围结束=END= -->
                   <!-- Str20 : Str20 的控件范围=Start= -->
                <nz-form-item nz-row>
                        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="str20">  
                            {{l('WMS_ASNStr20')}}
                            </nz-form-label>
                    <nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
                        <!--  控件位置 -->
                                <input nz-input name="str20" #str20="ngModel"
                                       [(ngModel)]="entity.str20"
                                      [placeholder]="l('WMS_ASNStr20InputDesc')" >


                    </nz-form-control>
             
                </nz-form-item>
                <!--Str20 : Str20 的控件范围结束=END= -->
                   <!-- DateTime1 : DateTime1 的控件范围=Start= -->
                <nz-form-item nz-row>
                        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="dateTime1">  
                            {{l('DateTime1')}}
                            </nz-form-label>
                    <nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
                        <!--  控件位置 -->
                                <input nz-input name="dateTime1" #dateTime1="ngModel"
                                       [(ngModel)]="entity.dateTime1"
                                      [placeholder]="l('WMS_ASNDateTime1InputDesc')" >


                    </nz-form-control>
             
                </nz-form-item>
                <!--DateTime1 : DateTime1 的控件范围结束=END= -->
                   <!-- DateTime2 : DateTime2 的控件范围=Start= -->
                <nz-form-item nz-row>
                        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="dateTime2">  
                            {{l('DateTime2')}}
                            </nz-form-label>
                    <nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
                        <!--  控件位置 -->
                                <input nz-input name="dateTime2" #dateTime2="ngModel"
                                       [(ngModel)]="entity.dateTime2"
                                      [placeholder]="l('WMS_ASNDateTime2InputDesc')" >


                    </nz-form-control>
             
                </nz-form-item>
                <!--DateTime2 : DateTime2 的控件范围结束=END= -->
                   <!-- DateTime3 : DateTime3 的控件范围=Start= -->
                <nz-form-item nz-row>
                        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="dateTime3">  
                            {{l('DateTime3')}}
                            </nz-form-label>
                    <nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
                        <!--  控件位置 -->
                                <input nz-input name="dateTime3" #dateTime3="ngModel"
                                       [(ngModel)]="entity.dateTime3"
                                      [placeholder]="l('WMS_ASNDateTime3InputDesc')" >


                    </nz-form-control>
             
                </nz-form-item>
                <!--DateTime3 : DateTime3 的控件范围结束=END= -->
                   <!-- DateTime4 : DateTime4 的控件范围=Start= -->
                <nz-form-item nz-row>
                        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="dateTime4">  
                            {{l('DateTime4')}}
                            </nz-form-label>
                    <nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
                        <!--  控件位置 -->
                                <input nz-input name="dateTime4" #dateTime4="ngModel"
                                       [(ngModel)]="entity.dateTime4"
                                      [placeholder]="l('WMS_ASNDateTime4InputDesc')" >


                    </nz-form-control>
             
                </nz-form-item>
                <!--DateTime4 : DateTime4 的控件范围结束=END= -->
                   <!-- DateTime5 : DateTime5 的控件范围=Start= -->
                <nz-form-item nz-row>
                        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="dateTime5">  
                            {{l('DateTime5')}}
                            </nz-form-label>
                    <nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
                        <!--  控件位置 -->
                                <input nz-input name="dateTime5" #dateTime5="ngModel"
                                       [(ngModel)]="entity.dateTime5"
                                      [placeholder]="l('WMS_ASNDateTime5InputDesc')" >


                    </nz-form-control>
             
                </nz-form-item>
                <!--DateTime5 : DateTime5 的控件范围结束=END= -->
                   <!-- Int1 : Int1 的控件范围=Start= -->
                <nz-form-item nz-row>
                        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="int1">  
                            {{l('Int1')}}
                            </nz-form-label>
                    <nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
                        <!--  控件位置 -->
                                <nz-input-number
                                    name="int1" #int1="ngModel"
                                    [(ngModel)]="entity.int1"
                                    [nzMin]="0"
                                    [nzMax]="1000000"
                                    [nzStep]="1"
                                ></nz-input-number>


                    </nz-form-control>
             
                </nz-form-item>
                <!--Int1 : Int1 的控件范围结束=END= -->
                   <!-- Int2 : Int2 的控件范围=Start= -->
                <nz-form-item nz-row>
                        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="int2">  
                            {{l('Int2')}}
                            </nz-form-label>
                    <nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
                        <!--  控件位置 -->
                                <nz-input-number
                                    name="int2" #int2="ngModel"
                                    [(ngModel)]="entity.int2"
                                    [nzMin]="0"
                                    [nzMax]="1000000"
                                    [nzStep]="1"
                                ></nz-input-number>


                    </nz-form-control>
             
                </nz-form-item>
                <!--Int2 : Int2 的控件范围结束=END= -->
                   <!-- Int3 : Int3 的控件范围=Start= -->
                <nz-form-item nz-row>
                        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="int3">  
                            {{l('Int3')}}
                            </nz-form-label>
                    <nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
                        <!--  控件位置 -->
                                <nz-input-number
                                    name="int3" #int3="ngModel"
                                    [(ngModel)]="entity.int3"
                                    [nzMin]="0"
                                    [nzMax]="1000000"
                                    [nzStep]="1"
                                ></nz-input-number>


                    </nz-form-control>
             
                </nz-form-item>
                <!--Int3 : Int3 的控件范围结束=END= -->
                   <!-- Int4 : Int4 的控件范围=Start= -->
                <nz-form-item nz-row>
                        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="int4">  
                            {{l('Int4')}}
                            </nz-form-label>
                    <nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
                        <!--  控件位置 -->
                                <nz-input-number
                                    name="int4" #int4="ngModel"
                                    [(ngModel)]="entity.int4"
                                    [nzMin]="0"
                                    [nzMax]="1000000"
                                    [nzStep]="1"
                                ></nz-input-number>


                    </nz-form-control>
             
                </nz-form-item>
                <!--Int4 : Int4 的控件范围结束=END= -->
                   <!-- Int5 : Int5 的控件范围=Start= -->
                <nz-form-item nz-row>
                        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="int5">  
                            {{l('Int5')}}
                            </nz-form-label>
                    <nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
                        <!--  控件位置 -->
                                <nz-input-number
                                    name="int5" #int5="ngModel"
                                    [(ngModel)]="entity.int5"
                                    [nzMin]="0"
                                    [nzMax]="1000000"
                                    [nzStep]="1"
                                ></nz-input-number>


                    </nz-form-control>
             
                </nz-form-item>
                <!--Int5 : Int5 的控件范围结束=END= -->
                   <!-- WMS_ASNDetails : WMS_ASNDetails 的控件范围=Start= -->
                <nz-form-item nz-row>
                        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="wMS_ASNDetails">  
                            {{l('WMS_ASNDetails')}}
                            </nz-form-label>
                    <nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
                        <!--  控件位置 -->
                                <nz-select name="wMS_ASNDetails" #wMS_ASNDetails="ngModel"
                                           [(ngModel)]="entity.wMS_ASNDetails" nzAllowClear
                                           [nzPlaceHolder]="l('PleaseSelectAtLeastOneItem')"  style="width: 120px;">
                                    <!-- 请配置你的数据源 -->
                                    <!-- <nz-option *ngFor="let option of optionList" [nzValue]="option" [nzLabel]="option.label">
                                    </nz-option>                    -->
                                </nz-select>


                    </nz-form-control>
             
                </nz-form-item>
                <!--WMS_ASNDetails : WMS_ASNDetails 的控件范围结束=END= -->

    </fieldset>
    <!-- 模态框底部 -->
    <div class="modal-footer">
        <button nz-button [nzType]="'default'" type="button" (click)="close()" [disabled]="saving">
            <i class="iconfont icon-close-circle"></i> {{l("Cancel")}}
        </button>
        <button nz-button [nzType]="'primary'" type="submit" [disabled]="!validateForm.form.valid|| saving" [nzLoading]="saving">
            <i class="iconfont icon-save" *ngIf="!saving"></i> {{l("Save")}}
        </button>
    </div>
</form>